<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue2</title>
  </head>
  <body>
    <div id="app" style="display:none" class="container">
      <div class="row">
        <h3>Tabela campeonato brasileiro série A 2016</h3>
        <br><br>
        <table class="table table-striped">
          <thead>
            <th>Time</th>
            <th>Pontos</th>
            <th>GM</th>
            <th>GS</th>
            <th>Saldo</th>
          </thead>
          <tbody>
            <tr v-for="item in teams" :key="item.id">
              <td>
                <img v-bind:src="item.shield" :alt="item.name" style="height: 30px; width: 30px;">
                <strong>{{item.name}}</strong>
              </td>
              <td>{{item.points}}</td>
              <td>{{item.gscored}}</td>
              <td>{{item.gconceded}}</td>
              <td>Saldo</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
          <form action="" class="form-inline">
            <div class="form-group">
              Gol(s)={{newSoccerMatch.homeTeam.goals}}
              <input type="text" class="form-control" v-model="newSoccerMatch.homeTeam.goals">
              <label for="" class="control-label">
                  {{newSoccerMatch.homeTeam.team.name}}
                  <img  :src="newSoccerMatch.homeTeam.team.shield" style="height: 30px; width: 30px;">
              </label>
            </div>
  
            <span>X</span>
            
            <div class="form-group">
              <label for="">
                <img  :src="newSoccerMatch.visitantTeam.team.shield" style="height: 30px; width: 30px;">
                {{newSoccerMatch.visitantTeam.team.name}}
              </label>
              Gol(s)={{newSoccerMatch.visitantTeam.goals}}
              <input type="text" class="form-control" v-model="newSoccerMatch.visitantTeam.goals">
            </div>
            <button class="btn btn-primary">Fim do Jogo</button>
          </form>
        </div>
    </div>
    <script src="/dist/build.js"></script>
  </body>
</html>
