<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>vue2</title>
  </head>
  <body>
    <div id="app" style="display:none" class="container">
      <div class="row">
        <h3>Tabela campeonato brasileiro série A 2016</h3>
        <a class="btn btn-primary" @click.prevent="createNewSoccer">Novo jogo</a>
        <br/><br/>
        <div v-if="view == 'table'">
          <div class="form-inline pull-right">
              <input type="search" class="form-control" placeholder="Buscar" v-model="search">
          </div>
          <table class="table table-striped">
            <thead>
              <th v-for="(column, index) in columnsNames">                 
                  <a href="#" @click.prevent="sortBy(index)">{{column | ucwords}}</a>
              </th>
            </thead>
            <tbody>
              <tr v-for="item in listTeams" :key="item.id">
                <td>
                  <img v-bind:src="item.shield" :alt="item.name" style="height: 30px; width: 30px;">
                  <strong>{{item.name}}</strong>
                </td>
                <td>{{item.points}}</td>
                <td>{{item.gscored}}</td>
                <td>{{item.gconceded}}</td>
                <td>{{ item | goalDifference}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        
        <div v-else>
          <form class="form-inline">
            <div class="form-group">
              
              <input type="text" class="form-control" v-model="newSoccerMatch.homeTeam.goals" @keyup.enter="endSoccer()">
              <label for="" class="control-label">
                  {{newSoccerMatch.homeTeam.team.name}}
                  <img  :src="newSoccerMatch.homeTeam.team.shield" style="height: 30px; width: 30px;">
              </label>
            </div>

            <span>X</span>
            
            <div class="form-group">
              <label for="">
                <img  :src="newSoccerMatch.visitantTeam.team.shield" style="height: 30px; width: 30px;">
                {{newSoccerMatch.visitantTeam.team.name}}
              </label>
              
              <input type="text" class="form-control" v-model="newSoccerMatch.visitantTeam.goals" @keyup.enter="endSoccer()">
            </div>
            <button class="btn btn-primary" @click.prevent="endSoccer()">Fim do Jogo</button>
          </form>
        </div>
      </div>
    </div>

    <script src="/dist/build.js"></script>
  </body>
</html>
